<DOCTYPE html>
  <head>
    <title>ssssss</title>
    <style>

      body{
        background-color: violet;
      }

      

    </style>
      </head>
<body>
  <div class="topnav">
<a class="active" href="#home">Home</a>
<a href="{{ url_for('about') }}">About</a>
<a href="{{ url_for('findingcluster') }}">findingcluster</a>
</div>
<div style="padding-left:16px">
<!-- <h2>Anime Recommendation</h2> -->
<p>The goal of this project is to develop a predictive model that can estimate medical charges for patients based on their characteristics and healthcare-related attributes. Traditional regression models can be challenging to implement in healthcare due to the complex and nonlinear relationships among variables. Instead, this project will leverage clustering techniques to group patients with similar medical cost profiles and use these clusters to predict charges for new patients. </p>
</div>
</body>
</html>